@media screen and (min-width: 48rem) {
  nav {
    gap: 2rem;
  }

  main {
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    grid-template-rows: 1fr auto;
  }

  .temple-pic {
    /* display: grid; */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  figure {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

  figure:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
  }

  #menuBtn {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}
}




/* Default: show nav horizontally on large screens */
#navMenu ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

/* Hamburger button hidden on desktop */
/* #menuBtn {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
} */