
@media screen and (min-width: 500px) {
  
  /* Header changes */
  header {
    background-color: #000;  
    color: #fff;            
  }

  /* Main changes */
  main {
    grid-template-columns: 1fr 1fr; /* two equal columns */
  }
}
